:root {
  --primary: #5447FF;
  --primary-light: #d6d3ff;
  --secondary: #020C2A;

  //  Gray scale
  --gray-1: #FCFCFC;
  --gray-2: #F7F7F9;
  --gray-3: #C8CAD1;
  --gray-4: #A0A4AE;
  --gray-5: #828795;
}

$my_variable: #444;