.container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: none;
  z-index: 1;
  .content {
    width: 80%;
    height: 80%;
    background-color: var(--gray-1);
    max-height: 100%;
    position: relative;
    z-index: 9;
    left: 10%;
    right: 10%;
    top: 8%;
    border-radius: 2rem;
  }
  &.show {
    width: 100%;
    opacity: 1;
    animation: showModal;
    animation-fill-mode: forwards;
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    display: block;
  }
  .closeButton {
    font-size: 4rem;
    position: absolute;
    cursor: pointer;
    display: flex;
    right: 1rem;
    top: 1rem;
    justify-content: center;
    background: var(--gray-1);
    width: 6rem;
    height: 6rem;
    align-items: center;
    border-radius: 50em;
    transition: box-shadow .5s;
    &:hover {
      box-shadow: 0 8px 20px var(--gray-3)
    }
  }
}

@keyframes showModal {
  from {
    opacity: 1;
    visibility: hidden;
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}