.content {
  display: flex;
  width: 100%;
  padding: 0 2rem;
  overflow: hidden;
  overflow-x: auto;
  .modalImage {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }
  .expandedImage {
    width: 100%;
    height: 100%;
    figcaption {
      background: white;
      border-radius: 1rem;
      padding: 1rem;
      text-align: center;
      font-size: 2rem;
      text-transform: uppercase;
    }
  }
}
.buttonActions {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  button {
    &:first-child {
      margin-right: 1rem;
    }
  }
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}
