.content {
  color: var(--gray-1);
  background-color: var(--primary);
  border: none;
  border-radius: .5rem;
  padding: .8rem 1.8rem;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color .5s;
  &:hover {
    background-color: var(--secondary);
  }
}